/*----------------------------------Body stylesheet---------------------------------*/
.body {
    background-color: #000000;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}
body::-webkit-scrollbar {
    display: none;
}

#body{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #00f3ff;
  box-shadow: 0 0 20px rgba(0, 243, 255, 0.3);
  transition: transform 0.3s ease;
}

.avatar:hover {
  transform: rotate(5deg) scale(1.05);
}
/*----------------------------------regestrations.html stylesheet---------------------------------*/

.regestration_form{
    background-color: #000;
    width: 700px;
    justify-content: center;
    margin: 0;
    padding-bottom: 10px;
}

.re_form-container {
  max-width: 650px;
  margin: 30px;
  background-color: #001925;
  padding: 30px;
  border-left: 5px solid #caf438;
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 20px),
    calc(100% - 20px) 100%,
    0 100%
  );
}

.re_img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.prf_img-con {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #caf438;
    overflow: hidden;
}

.prf_img-con img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}


.re_heading {
  display: block;
  color: #d3f35f;
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 20px;
}
.re_c1 {
  display: block;
  color: #d3f35f;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.re_c2 {
  display: block;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.re_form-container .re_form .re_input {
  color: #87a4b6;
  width: 100%;
  background-color: #002733;
  border: none;
  outline: none;
  padding: 10px;
  margin-bottom: 20px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  border-left: 1px solid transparent;
}

.re_form-container .re_form .re_input:focus {
  border-left: 7px solid #caf438;
  border-top: 7px solid #caf438;
}

.re_form-container .re_form .textarea {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  background-color: #013747;
  color: #caf438;
  font-weight: bold;
  resize: none;
  max-height: 150px;
  margin-bottom: 20px;
  border-left: 1px solid transparent;
  transition: all 0.2s ease-in-out;
}

.re_form-container .re_form .textarea:focus {
  border-left: 5px solid #caf438;
}

.re_form-container .re_form .re_button-container {
  display: flex;
  gap: 10px;
}

.re_form-container .re_form .re_button-container .create {
  flex-basis: 100%;
  background: #caf438;
  padding: 10px;
  color: #001925;
  text-align: center;
  font-weight: bold;
  border: 1px solid transparent;
  transition: all 0.2s ease-in-out;
}

.re_form-container .re_form .re_button-container .create:hover {
  background: transparent;
  border: 1px solid #ff7a01;
  color: #caf438;
}

.re_form-container .re_form .re_button-container {
  filter: drop-shadow(1px 1px 0px #ff7a01);
  flex-basis: 30%;
}

.re_form-container .re_form .re_button-container {
  position: relative;
  text-align: center;
  padding: 10px;
  color: #caf438;
  font-weight: bold;
  background: #001925;
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 10px),
    calc(100% - 10px) 100%,
    0 100%
  );
  transition: all 0.2s ease-in-out;
}

.re_form-container
  .re_form
  .re_button-container :hover {
  background: #caf438;
  color: #001925;
}

/* --------------------------------- Radio Button --------------------------------- */

.r_container {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  
  .radio-wrapper {
    position: relative;
    height: 38px;
    width: 155px;
    margin: 3px;
  }
  
  .radio-wrapper .input {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    padding-bottom: 30px;
    cursor: pointer;
    z-index: 10;
    opacity: 0;
  }
  
  .sbtn {
    --primary: #ff184c;
    --shadow-primary: #fded00;
    --color: white;
    --font-size: 14px;
    --shadow-primary-hue: 180;
    --shadow-secondary-hue: 60;
    --shadow-secondary: hsl(var(--shadow-secondary-hue), 90%, 60%);
    --clip: polygon(11% 0, 95% 0, 100% 25%, 90% 90%, 95% 90%, 85% 90%, 85% 100%, 7% 100%, 0 80%);
    --border: 5px;
    --shimmy-distance: 5;
    --clip-one: polygon(0 2%, 100% 2%, 100% 95%, 95% 95%, 95% 90%, 85% 90%, 85% 95%, 8% 95%, 0 70%);
    --clip-two: polygon(0 78%, 100% 78%, 100% 100%, 95% 100%, 95% 90%, 85% 90%, 85% 100%, 8% 100%, 0 78%);
    --clip-three: polygon(0 44%, 100% 44%, 100% 54%, 95% 54%, 95% 54%, 85% 54%, 85% 54%, 8% 54%, 0 54%);
    --clip-four: polygon(0 0, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
    --clip-five: polygon(0 0, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
    --clip-six: polygon(0 40%, 100% 40%, 100% 85%, 95% 85%, 95% 85%, 85% 85%, 85% 85%, 8% 85%, 0 70%);
    --clip-seven: polygon(0 63%, 100% 63%, 100% 80%, 95% 80%, 95% 80%, 85% 80%, 85% 80%, 8% 80%, 0 70%);
    color: var(--color);
    text-transform: uppercase;
    font-size: var(--font-size);
    letter-spacing: 3px;
    position: relative;
    font-weight: 900;
    padding-top: 3px;
    width: 100%;
    height: 100%;
    line-height: 38px;
    text-align: center;
    transition: background 0.2s, 0.3s;
  }
  
  .input:checked + .sbtn {
    --primary: #8B00FF;
    --shadow-primary: #00e572;
  }
  
  .input:hover + .sbtn {
    --primary: #8B00FF;
    --font-size: 11px;
  }
  
  .sbtn:after, .sbtn:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    clip-path: var(--clip);
    z-index: -1;
  }
  
  .sbtn:before {
    background: var(--shadow-primary);
    transform: translate(var(--border), 0);
  }
  
  .sbtn:after {
    background: var(--primary);
  }
  
  .btn__tag {
    position: absolute;
    padding: 1px 4px;
    letter-spacing: 1px;
    line-height: 1;
    bottom: -5%;
    right: 5%;
    font-weight: normal;
    color: hsl(0, 0%, 0%);
    font-size: var(--label-size);
  }
  
  .btn__glitch {
    position: absolute;
    top: calc(var(--border) * -1);
    left: calc(var(--border) * -1);
    right: calc(var(--border) * -1);
    bottom: calc(var(--border) * -1);
    background: var(--shadow-primary);
    text-shadow: 2px 2px var(--shadow-primary), -2px -2px var(--shadow-secondary);
    clip-path: var(--clip);
    animation: glitch 2s infinite;
    display: none;
  }
  
  .input:hover + .sbtn .btn__glitch {
    display: block;
  }
  
  .input:checked + .sbtn .btn__glitch {
    display: block;
    animation: glitch 5s infinite;
  }
  
  .btn__glitch:before {
    content: '';
    position: absolute;
    top: calc(var(--border) * 1);
    right: calc(var(--border) * 1);
    bottom: calc(var(--border) * 1);
    left: calc(var(--border) * 1);
    clip-path: var(--clip);
    background: var(--primary);
    z-index: -1;
  }
  
  @keyframes glitch {
    0% {
      clip-path: var(--clip-one);
    }
  
    2%, 8% {
      clip-path: var(--clip-two);
      transform: translate(calc(var(--shimmy-distance) * -1%), 0);
    }
  
    6% {
      clip-path: var(--clip-two);
      transform: translate(calc(var(--shimmy-distance) * 1%), 0);
    }
  
    9% {
      clip-path: var(--clip-two);
      transform: translate(0, 0);
    }
  
    10% {
      clip-path: var(--clip-three);
      transform: translate(calc(var(--shimmy-distance) * 1%), 0);
    }
  
    13% {
      clip-path: var(--clip-three);
      transform: translate(0, 0);
    }
  
    14%, 21% {
      clip-path: var(--clip-four);
      transform: translate(calc(var(--shimmy-distance) * 1%), 0);
    }
  
    25% {
      clip-path: var(--clip-five);
      transform: translate(calc(var(--shimmy-distance) * 1%), 0);
    }
  
    30% {
      clip-path: var(--clip-five);
      transform: translate(calc(var(--shimmy-distance) * -1%), 0);
    }
  
    35%, 45% {
      clip-path: var(--clip-six);
      transform: translate(calc(var(--shimmy-distance) * -1%));
    }
  
    40% {
      clip-path: var(--clip-six);
      transform: translate(calc(var(--shimmy-distance) * 1%));
    }
  
    50% {
      clip-path: var(--clip-six);
      transform: translate(0, 0);
    }
  
    55% {
      clip-path: var(--clip-seven);
      transform: translate(calc(var(--shimmy-distance) * 1%), 0);
    }
  
    60% {
      clip-path: var(--clip-seven);
      transform: translate(0, 0);
    }
  
    31%, 61%, 100% {
      clip-path: var(--clip-four);
    }
  }
  
  .number {
    background: var(--shadow-primary);
    color: #323232;
    padding-top: 3px;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 1px;
    position: absolute;
    width: 50px;
    height: 15px;
    top: 0;
    left: 69%;
    line-height: 6.2px;
  }
  
  .radio-wrapper.selected .sbtn {
    background-color: #00bfff;
    color: white;
    transform: scale(1.05);
    transition: 0.3s;
    }

    .orbitron-header {
      font-family: "Orbitron", sans-serif;
      font-optical-sizing: auto;
      font-weight: 600;
      font-style: normal;
    }

    /* From Uiverse.io by gharsh11032000 */ 
.menu {
  font-size: 1.25rem;
  line-height: 1.6;
  color: #ffffff;
  width: fit-content;
  display: flex;
  list-style: none;
  z-index: 4;
}

.menu a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.menu .link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 12px 36px;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.menu .link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0a3cff;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.menu .link svg {
  width: 14px;
  height: 14px;
  fill: #ffffff;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.menu .item {
  position: relative;
}

.menu .item .submenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  border-radius: 0 0 16px 16px;
  left: 0;
  width: 100%;
  overflow: hidden;
  border: 1px solid #cccccc;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-12px);
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  z-index: 1;
  pointer-events: none;
  list-style: none;
}

.menu .item:hover .submenu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  pointer-events: auto;
  border-top: transparent;
  border-color: #0a3cff;
}

.menu .item:hover .link {
  color: #ffffff;
  border-radius: 16px 16px 0 0;
}

.menu .item:hover .link::after {
  transform: scaleX(1);
  transform-origin: right;
}

.menu .item:hover .link svg {
  fill: #ffffff;
  transform: rotate(-180deg);
}

.submenu .submenu-item {
  width: 100%;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.categories .submenu-item .submenu-link {
  display: block;
  padding: 12px 24px;
  width: 100%;
  position: relative;
  text-align: left !important;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.submenu .submenu-link {
  display: block;
  padding: 12px 24px;
  width: 100%;
  position: relative;
  text-align: center;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.submenu-item a{
  text-decoration: none;
  color: white;
}

.submenu .submenu-item:last-child .submenu-link {
  border-bottom: none;
}

.submenu .submenu-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  width: 100%;
  height: 100%;
  background-color: #0a3cff;
  z-index: -1;
  transform-origin: left;
  transition: transform 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.submenu .submenu-link:hover:before {
  transform: scaleX(1);
  transform-origin: right;
}

.submenu .submenu-link:hover {
  color: #ffffff;
}

.error-card {
  width: 100%;
  padding-right: 10px;
  height: fit-content;
  padding-bottom: 12px;
  background: lightgrey;
  border-left-style: solid;
  border-left-color: red;
  border-left-width: 5px;
  border-radius: 15px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background: linear-gradient(to right, #fd383893, #ff47478d 50%, #f7575738);
}

.error-card i {
  height: 40px;
  padding-left: 20px;
  padding-top: 22px;
  fill: red;
  float: left;
}
.error-card p {
  float: left;
  padding-top: 13px;
  padding-left: 10px;
  color: white;
  font-size: 15px;
}

.error-card span {
  display: flex;
  align-items: left;
}
